<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="input-group mb-3">
            <input [(ngModel)]="searchQuery" type="text" class="form-control" placeholder="Universität Klinikum, Freiburg" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="setPosition()">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">{{position.country}}</div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">{{position.gps}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Daten</h5>
          <div class="btn-group btn-group-toggle">
            <label class="btn-outline-secondary" ngbButtonLabel>
              <input type="checkbox" [(ngModel)]="showSolarValues" ngbButton> Gemessene Werte
            </label>
          </div>
          <div class="btn-group btn-group-toggle">
            <label class="btn-outline-secondary" ngbButtonLabel>
              <input type="checkbox" ngbButton> Simulation
            </label>
          </div>
          <div class="btn-group btn-group-toggle">
            <label class="btn-outline-secondary" ngbButtonLabel>
              <input type="checkbox" ngbButton> Internes Monitoring
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Preis vor Ort</h5>
          Öffentlicher Strom:
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="0.19" aria-label="0.19" aria-describedby="strom">
            <div class="input-group-append">
              <span class="input-group-text" id="strom">€/kWh</span>
            </div>
          </div>
          Diesel-Treibstoff:
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="1.01" aria-label="1.01" aria-describedby="diesel">
            <div class="input-group-append">
              <span class="input-group-text" id="diesel">€/lit</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datum</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="2019-10-16" aria-label="Recipient's username"
                   aria-describedby="basic-addon2" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sprache</h5>
          <p class="card-text">
            <input type="radio" id="deutsch" name="language" value="deutsch"
                   checked>
            <label for="deutsch">Deutsch</label><br>
            <input type="radio" id="english" name="language" value="english">
            <label for="english">English</label><br>
            <input type="radio" id="french" name="language" value="french">
            <label for="french">Français</label>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-chart [showSolarValues]="showSolarValues"></app-chart>
